* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: black;
    color: whitesmoke;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.85);
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: crimson;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    margin-left: 25px;
}

.links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: crimson;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),
    url("https://wallpaperaccess.com/full/356031.jpg") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content h1 {
    font-size: 64px;
    letter-spacing: 3px;
    animation: fadeDown 1.2s ease;
}

.content p {
    margin: 20px 0;
    font-size: 20px;
    color: whitesmoke;
}

.buttonss {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

.primary {
    background: crimson;
    color: white;
}

.primary:hover {
    transform: scale(1.1);
    background: darkred;
}

.secondary {
    border: 2px solid crimson;
    color: crimson;
}

.secondary:hover {
    background: crimson;
    color: whitesmoke;
}

.section {
    padding: 100px 15%;
    text-align: center;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: crimson;
}

.text {
    font-size: 17px;
    line-height: 1.8;
    color: whitesmoke;
}

.dark {
    background: #111;
}

.timeline {
    padding: 80px;
    background: #0f0f0f;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.event {
    padding: 20px 30px;
    background: #1a1a1a;
    border-left: 4px solid crimson;
    transition: transform 0.3s;
}

.event:hover {
    transform: translateY(-10px);
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: #1a1a1a;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-12px);
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.info {
    padding: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.video iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    border: none;
}

.quote {
    padding: 60px;
    font-size: 22px;
    background: linear-gradient(to right, #300000, #000);
    text-align: center;
    font-style: italic;

 }

 .quoteX {
    padding: 40px;
    font-size: 18px;
    background: linear-gradient(to left, #300000dc, #000);
    text-align: center;
    font-style: italic;

 }

.footer {
    padding: 30px;
    text-align: center;
    background: black;
    color: #888;
}

@media(max-width: 768px) {
    .section {
        padding: 80px 8%;
    }
    .hero-content h1 {
        font-size: 40px;
    }
}
